CMakeFiles/*
Debug/*
DoxyFile/*
ExeFile/*
x64/*
XML.dir/*
XML_autogen/*
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeLists.txt
CMakeLists.txt.user
INSTALL.vcxproj
INSTALL.vcxproj.filters
XML.sln
XML.vcxproj
XML.vcxproj.filters
XML_ui.qrc
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters